*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
div{
  color: #000;
}
.container{
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid; */
}
.container:after{
  content: '';
  display: block;
  clear: both;
}
header{
  /* border: 1px solid; */
  background-color: #7DCEA0;
  /* top:0; */
  width: 100%;
  position: fixed;
  z-index: 9999;
}
header h1{
  /* border: 1px solid; */
  float: left;
  padding: 15px 0;
  color: inherit;
}
header h1 a{
  font-size: 3vh;
}
header ul{
  /* border: 1px solid; */
  float: right;
}
header ul li{
  display: inline-block;
  color: #fff;
  font-size: 3vh;
}
header ul li a{
  padding: 25px 20px;
  display: inline-block;
}
header ul li a:hover{
  background-color: #fff;
  color: #7DCEA0;
}
.active{
  background-color: #fff;
  color: #33FFCA;
}

.banner{
  height: 60vh;
  background-image: url('../img/banner.jpg');
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
section{
  padding: 50px 0;
  background-color: #E5E7E9;
}
.banner h2{
  color: #fff;
  padding: 25px 20px;
  border: 3px solid #fff;
}
.menu{
  /* border: 1px solid; */
  z-index: 1;
  width: 100%;
  position: absolute;
  top: 57vh;
}
.profil{
  width: 203px;
  padding: 20px;
  box-sizing: border-box;
  /* border: 1px solid; */
  /* float: left; */
  margin: 0 80px;
  /* border: 1px solid; */
  border-radius: 100%;
  background-color: #fff;
}
.real-profile{
  width: 163px;
  height: 160px;
  /* border: 1px solid; */
  border-radius: 100%;
  margin: 0 auto;
}
.submenu{
  float: left;
  margin: 0 auto;
  /* border: 1px solid; */
  top: 7.5vh;
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: -1;
  /* border: 1px solid; */

}
/* .banner .submenu{
  position: fixed;
  top:10vh;
} */
.banner ul{
  /* float: right; */
  margin: 0 15%;
  /* border: 1px solid; */
}
.banner ul li{
  display: inline-block;
  color: #000;
  font-size: 20px;
  /* border: 1px solid; */
}
.banner ul li a{
  padding: 25px 20px;
  display: inline-block;
  /* border: 1px solid; */
}

.banner ul li a:hover{
  background-color: #E5E7E9;
  color: #33FFCA;
}
img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.about{
  /* border: 1px solid; */
  /* top: -43px; */
  position: relative;
}
/* .about h2{
  padding: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  border: 1px solid;
  display: inline-block;
  margin: 2%;
} */
/* .box{
  border: 1px solid;
  width: 100%;
  height: 500px;
} */
.col3{
  /* border: 1px solid; */
  min-height: 600px;
  width: 100%;
  box-sizing: border-box;
}
.box-ganjil{
  width: 33.33333%;
  min-height: 600px;
  padding: 95px 50px 46px;
  box-sizing: border-box;
  /* border: 1px solid; */
  float:left;
  background-color: #F2F3F4;
  /* line-height: 25px; */
  /* display: table-cell; */
  /* margin: 20%; */
}
.box-genap{
  width: 33.33333%;
  min-height: 600px;
  padding: 95px 50px 46px;
  box-sizing: border-box;
  /* border: 1px solid; */
  float:left;
  background-color: #D7DBDD;
}
.title{
  /* border-bottom-style: double; */
  border-bottom: 4px solid;
  /* border: 2px; */
  border-color: #7DCEA0;
  width: 40px;
  margin: 10px 0;
  /* border-style: ridge; */
}
.isi-genap h2{
  font-weight: normal;
  /* padding: 20px; */
  margin: 10px 0;
}
.isi-genap h3{
  font-weight: lighter;
  margin: 10px 0;
}
.isi-ganjil h2{
  font-weight: normal;
  /* padding: 20px; */
  margin: 10px 0;
}
.isi-ganjil h3{
  font-weight: lighter;
  margin: 10px 0;
}
.isi-genap p{
  margin: 10px 0;
  /* line-height: 20px; */
}
.isi-genap{
  line-height: 35px;
}
.isi-genap ul{
  list-style: none;
}
.isi-ganjil ul{
  list-style: none;
  /* line-height: 35px; */
}
.isi-genap ul span{
  font-weight: bolder;
}
.isi-ganjil ul span{
  font-weight: bolder;
  /* float: left; */
  font-size: 45px;
  margin-left: 5px ;
  padding: 5px;
}

.box3marginluar{
  width: 31%;
  /* display: inline-block; */
  margin: 1%;
  /* border: 1px solid; */
  box-sizing: border-box;
  margin-top: 30px;
  float:left;
}
.box3margin{
  padding: 50px;
  border: 1px solid;
  margin-bottom: 20px;
  background-color: #fff;
  height: 100%;
}
.isi ul li{
  padding-top: 25px;
  padding-bottom: 5px;
  list-style-type: square;
}
.skill{
  align-items: center;
  text-align: center;

}
.skill ul li{
  display: inline-block;
  /* text-align: center; */
  /* justify-content: center; */
  margin: 20px 20px;
}
.skill h3{
  margin-bottom: 10px
}
.circle75{
  width: 80px;
  height: 80px;
  border: 5px solid #fff;
  border-radius: 100%;
  border-top-color: #7DCEA0;
  border-right-color: #7DCEA0;
  border-bottom-color: #7DCEA0;
  transform: rotate(45deg);
  /* float: left; */
}
.isi .container{
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  float: left;
  margin: 10px 30px;
  padding: 10px;
  width: 20%;
  float: left;
}
.isi h3{
  margin-bottom: 10px;
}
.container ul{
  list-style: none;
}
.box3margin h2{

}
.container ul li span{
  border: 3px solid;
  font-size: 30px;
  padding: 5px;
  border-radius: 100%;
}
.Interest ul li{
  display: inline-block;
  text-align: center;
  margin: 0 5px;
}
.Interest ul li p{
  margin: 20px auto;
}
.Interest ul{
  margin: 30px auto;
}

.Blog .container{
  margin-bottom: 30px;
}
.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* border: 1px solid; */
}
.item{
  position: relative;

}
.img-background{
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text{
  position: absolute;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}
.logo img{
  width: 50%;
  /* margin-bottom: 20px; */
}
.img-text .subtitle{
  transition: 1s;
  color: transparent;
  font-weight: 600;
  margin-top: 20px;

}
.img-text:hover .subtitle{
  font-weight: 600;
  color: lightseagreen;
}
.dark{
  transition: 1s;
  filter: brightness(10%);
}
@media screen and (max-width: 768px){
  .container{
    width: 100%;
  }
  header{
    width: 100%;
  }
  header h1{
    text-align: center;
    float:none;
  }
  header ul{
    text-align: center;
    float: none;
  }
  .menu{
    width: 100%;
    top: 55vh;
  }
  .profil{
    margin-left: auto;
    margin-right: auto;
  }
  .submenu{
    width: 100%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .banner ul{
    margin-top: 130px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    justify-content: center;
  }
  .banner ul li{
    margin: 0 8px;
    /* width: 30%; */
  }


  .box-ganjil{
    float:none;
    width: auto;
  }
  .box-genap{
    float:none;
    width: auto;
  }
  .box3marginluar{
    float: none;
    width: auto;
  }
}
